
@{
    ViewBag.Title = "NhanVien";
    Layout = "~/Views/Shared/_LayoutNhanVien.cshtml";
}

<main id="main" class="main">
    <img style="width: 100%; margin-top: -150px;" src="~/img/aaa.gif" alt="Alternate Text" />
</main>