USE [TDMUCLASS]
GO
/****** Object:  Table [dbo].[BOPHANXULYSUCO]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHANXULYSUCO](
	[MaNhanVien] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[ChucVu] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
 CONSTRAINT [PK__BOPHANXU__77B2CA475C5DAE73] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANGKYMONHOC]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKYMONHOC](
	[MaMonHoc] [nvarchar](20) NOT NULL,
	[MaSinhVien] [nvarchar](20) NOT NULL,
	[NgayGioDangKy] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATPHONG]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATPHONG](
	[MaDatPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaPhongHoc] [nvarchar](10) NULL,
	[NgayBD] [datetime] NULL,
	[NgayKT] [datetime] NULL,
	[MoTa] [nvarchar](1000) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaQuanLy] [nvarchar](20) NULL,
	[MaSinhVien] [nvarchar](20) NULL,
	[MaGiangVien] [nvarchar](20) NULL,
 CONSTRAINT [PK__DATPHONG__6344ADEAF6DEBE7F] PRIMARY KEY CLUSTERED 
(
	[MaDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAYHOC]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAYHOC](
	[MaDayHoc] [nvarchar](3) NOT NULL,
	[LoaiDay] [nvarchar](255) NULL,
	[SoLuongPhong] [int] NULL,
	[MaQuanLy] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDayHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MaGiangVien] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[NgaySinh] [date] NULL,
	[Email] [nvarchar](100) NULL,
	[DienThoai] [nvarchar](11) NULL,
	[ChuyenNganh] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiangVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPHOC]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPHOC](
	[MaLopHoc] [nvarchar](20) NOT NULL,
	[TenLopHoc] [nvarchar](50) NULL,
	[MaMonHoc] [nvarchar](20) NOT NULL,
	[SoLuongSV] [int] NULL,
	[MaGiangVien] [nvarchar](20) NULL,
 CONSTRAINT [PK_LOPHOC] PRIMARY KEY CLUSTERED 
(
	[MaLopHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MaMonHoc] [nvarchar](20) NOT NULL,
	[TenMonHoc] [nvarchar](100) NULL,
	[SoTinChi] [int] NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MaMonHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANCONGXULY_SUCO]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANCONGXULY_SUCO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaQuanLy] [nvarchar](20) NOT NULL,
	[MaNguoiXuLy] [nvarchar](20) NULL,
	[HoTen] [nvarchar](50) NULL,
	[MaSuCoBaoTri] [int] NOT NULL,
	[TrangThaiXuLy] [nvarchar](50) NULL,
	[NgayGioPhanCong] [datetime] NULL,
	[NgayGioHoanThanh] [datetime] NULL,
	[MaPhongHoc] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_PHANCONGXULY_SUCO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANHOI]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANHOI](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[NgayGui] [date] NULL,
 CONSTRAINT [PK_PHANHOI] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGHOC]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGHOC](
	[MaPhongHoc] [nvarchar](10) NOT NULL,
	[TrangThai] [nvarchar](20) NULL,
	[MaDayHoc] [nvarchar](3) NULL,
 CONSTRAINT [PK__PHONGHOC__D1254E218F78E4AA] PRIMARY KEY CLUSTERED 
(
	[MaPhongHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANLY]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLY](
	[MaQuanLy] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[NgaySinh] [date] NULL,
	[Email] [nvarchar](100) NULL,
	[DienThoai] [nvarchar](11) NULL,
	[ChucVu] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[MatKhau] [varchar](20) NULL,
	[AnhQL] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuanLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANLY_TRANGTHIETBI]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANLY_TRANGTHIETBI](
	[MaPhongHoc] [nvarchar](10) NOT NULL,
	[MaTrangThietBi] [nvarchar](10) NOT NULL,
	[TenTTB] [nvarchar](200) NULL,
	[TinhTrang] [nvarchar](100) NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_QUANLY_TRANGTHIETBI] PRIMARY KEY CLUSTERED 
(
	[MaPhongHoc] ASC,
	[MaTrangThietBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MaSinhVien] [nvarchar](20) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[Lop] [nvarchar](20) NULL,
	[NgaySinh] [date] NULL,
	[Email] [nvarchar](100) NULL,
	[DienThoai] [nvarchar](11) NULL,
	[ChuyenNganh] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUCOBAOTRI]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUCOBAOTRI](
	[MaSuCoBaoTri] [int] IDENTITY(1,1) NOT NULL,
	[MaPhongHoc] [nvarchar](10) NOT NULL,
	[MoTaSuCo] [nvarchar](1000) NULL,
	[ThoiGianBaoCao] [datetime] NULL,
	[MaSinhVien] [nvarchar](20) NULL,
	[MaGiangVien] [nvarchar](20) NULL,
	[MaQuanLy] [nvarchar](20) NOT NULL,
	[MaTrangThietBi] [nvarchar](10) NOT NULL,
	[TenTrangThietBi] [nvarchar](50) NULL,
	[TinhTrangXuLy] [nvarchar](50) NULL,
	[AnhSuCo] [nvarchar](50) NULL,
 CONSTRAINT [PK_SUCOBAOTRI] PRIMARY KEY CLUSTERED 
(
	[MaSuCoBaoTri] ASC,
	[MaPhongHoc] ASC,
	[MaQuanLy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TaiKhoanID] [int] IDENTITY(1,1) NOT NULL,
	[MaQuanLy] [nvarchar](20) NULL,
	[MaGiangVien] [nvarchar](20) NULL,
	[MaSinhVien] [nvarchar](20) NULL,
	[MaNhanVien] [nvarchar](20) NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](20) NOT NULL,
	[LoaiTaiKhoan] [nvarchar](50) NOT NULL,
	[Avartar] [nvarchar](50) NULL,
 CONSTRAINT [PK__TAIKHOAN__9A124B65CA2E8710] PRIMARY KEY CLUSTERED 
(
	[TaiKhoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THOIKHOABIEU]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THOIKHOABIEU](
	[MaLopHoc] [nvarchar](20) NOT NULL,
	[MaPhongHoc] [nvarchar](10) NOT NULL,
	[MaQuanLy] [nvarchar](20) NOT NULL,
	[ThuNgayHoc] [nvarchar](50) NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[TietBatDau] [int] NULL,
	[TietKetThuc] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGKE]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGKE](
	[ThongKeID] [int] IDENTITY(1,1) NOT NULL,
	[MaPhongHoc] [nvarchar](10) NOT NULL,
	[SoLanSuCo] [int] NULL,
	[ThongTinBaoCao] [nvarchar](1000) NULL,
	[NgayGioBaoCao] [datetime] NULL,
	[MaQuanLy] [nvarchar](20) NULL,
 CONSTRAINT [PK_THONGKE] PRIMARY KEY CLUSTERED 
(
	[ThongKeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINTUC]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINTUC](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[TenTT] [nvarchar](100) NULL,
	[AnhTT] [nvarchar](50) NULL,
	[NgayDang] [date] NULL,
	[MoTa] [nvarchar](300) NULL,
	[NoiDung] [text] NULL,
	[MaQuanLy] [nvarchar](20) NULL,
	[SoLuocXem] [int] NULL,
 CONSTRAINT [PK_TINTUC] PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHIETBI]    Script Date: 26/11/2023 2:55:05 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHIETBI](
	[MaTrangThietBi] [nvarchar](10) NOT NULL,
	[TenTrangThietBi] [nvarchar](255) NULL,
	[SoLuong] [int] NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](100) NULL,
	[Loai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTrangThietBi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BOPHANXULYSUCO] ([MaNhanVien], [HoTen], [ChucVu], [DiaChi], [DienThoai], [Email], [NgaySinh]) VALUES (N'NV001', N'Thái Anh Long', N'Sửa Máy Lạnh', N'Bình Phước', N'0145875254', N'anhlong@gamil.com', CAST(N'1985-08-04' AS Date))
GO
INSERT [dbo].[DANGKYMONHOC] ([MaMonHoc], [MaSinhVien], [NgayGioDangKy]) VALUES (N'LING001', N'2124802010859', CAST(N'2023-08-14T09:52:32.000' AS DateTime))
INSERT [dbo].[DANGKYMONHOC] ([MaMonHoc], [MaSinhVien], [NgayGioDangKy]) VALUES (N'KCTT004', N'2124802010160', CAST(N'2023-10-24T00:00:00.000' AS DateTime))
INSERT [dbo].[DANGKYMONHOC] ([MaMonHoc], [MaSinhVien], [NgayGioDangKy]) VALUES (N'KTCH013', N'2124802010859', CAST(N'2023-10-24T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[DATPHONG] ON 

INSERT [dbo].[DATPHONG] ([MaDatPhong], [MaPhongHoc], [NgayBD], [NgayKT], [MoTa], [TrangThai], [MaQuanLy], [MaSinhVien], [MaGiangVien]) VALUES (1025, N'B-204', CAST(N'2023-11-26T10:00:00.000' AS DateTime), CAST(N'2023-11-26T11:30:00.000' AS DateTime), N'Học chính trị', N'Đã duyệt', N'QL002', NULL, N'GV002')
INSERT [dbo].[DATPHONG] ([MaDatPhong], [MaPhongHoc], [NgayBD], [NgayKT], [MoTa], [TrangThai], [MaQuanLy], [MaSinhVien], [MaGiangVien]) VALUES (1026, N'A1-102', CAST(N'2023-11-26T11:00:00.000' AS DateTime), CAST(N'2023-11-26T12:00:00.000' AS DateTime), N'Báo cáo tiến độ công việc 2023', N'Từ chối', N'QL001', NULL, N'GV001')
INSERT [dbo].[DATPHONG] ([MaDatPhong], [MaPhongHoc], [NgayBD], [NgayKT], [MoTa], [TrangThai], [MaQuanLy], [MaSinhVien], [MaGiangVien]) VALUES (1027, N'A4-103', CAST(N'2023-11-26T10:00:00.000' AS DateTime), CAST(N'2023-11-26T11:00:00.000' AS DateTime), N'Báo cáo tiến độ công việc quý 4 năm 2023', N'Đã duyệt', N'QL001', NULL, N'GV001')
SET IDENTITY_INSERT [dbo].[DATPHONG] OFF
GO
INSERT [dbo].[DAYHOC] ([MaDayHoc], [LoaiDay], [SoLuongPhong], [MaQuanLy]) VALUES (N'A1', N'Văn phòng', NULL, N'QL001')
INSERT [dbo].[DAYHOC] ([MaDayHoc], [LoaiDay], [SoLuongPhong], [MaQuanLy]) VALUES (N'A2', N'Phòng thực hành', NULL, N'QL001')
INSERT [dbo].[DAYHOC] ([MaDayHoc], [LoaiDay], [SoLuongPhong], [MaQuanLy]) VALUES (N'A3', N'Phòng thực hành', NULL, N'QL001')
GO
INSERT [dbo].[GIANGVIEN] ([MaGiangVien], [HoTen], [NgaySinh], [Email], [DienThoai], [ChuyenNganh], [DiaChi]) VALUES (N'GV001', N'Nguyễn Hải Vĩnh Cường', CAST(N'1976-05-15' AS Date), N'cuongvinh@gmail.com', N'0141548751', N'CNTT', N'Bình Dương')
INSERT [dbo].[GIANGVIEN] ([MaGiangVien], [HoTen], [NgaySinh], [Email], [DienThoai], [ChuyenNganh], [DiaChi]) VALUES (N'GV002', N'Trần Thị Thắm', CAST(N'1930-08-04' AS Date), N'tham@gmail.com', N'0141542859', N'KET', N'Bình Dương')
INSERT [dbo].[GIANGVIEN] ([MaGiangVien], [HoTen], [NgaySinh], [Email], [DienThoai], [ChuyenNganh], [DiaChi]) VALUES (N'GV003', N'Nguyễn Văn Nam', CAST(N'1985-10-15' AS Date), N'nam@gmail.com', N'01542845475', N'CNTT', N'Bình Dương')
GO
INSERT [dbo].[LOPHOC] ([MaLopHoc], [TenLopHoc], [MaMonHoc], [SoLuongSV], [MaGiangVien]) VALUES (N'CSLT-CQ01', N'Cơ sở lập trình (3+0)', N'LING022', 45, N'GV001')
INSERT [dbo].[LOPHOC] ([MaLopHoc], [TenLopHoc], [MaMonHoc], [SoLuongSV], [MaGiangVien]) VALUES (N'CSLT-CQ02', N'Cơ sở lập trình (3+0)', N'LING022', 10, N'GV001')
INSERT [dbo].[LOPHOC] ([MaLopHoc], [TenLopHoc], [MaMonHoc], [SoLuongSV], [MaGiangVien]) VALUES (N'GDTC-CQ02', N'	Giáo dục thể chất (Lý thuyết) (2+0)', N'KTCH002', 34, N'GV002')
GO
INSERT [dbo].[MONHOC] ([MaMonHoc], [TenMonHoc], [SoTinChi]) VALUES (N'KCTT004', N'Triết học Mác - Lênin (3+0)', 3)
INSERT [dbo].[MONHOC] ([MaMonHoc], [TenMonHoc], [SoTinChi]) VALUES (N'KTCH001', N'Phương pháp nghiên cứu khoa học (3+0)', 3)
INSERT [dbo].[MONHOC] ([MaMonHoc], [TenMonHoc], [SoTinChi]) VALUES (N'KTCH002', N'	Giáo dục thể chất (Lý thuyết) (2+0)', 2)
GO
SET IDENTITY_INSERT [dbo].[PHANHOI] ON 

INSERT [dbo].[PHANHOI] ([id], [NoiDung], [Email], [NgayGui]) VALUES (12, N'Web hay quá bây ơi', N'tung@gmial.comdsdsds', CAST(N'2023-11-24' AS Date))
INSERT [dbo].[PHANHOI] ([id], [NoiDung], [Email], [NgayGui]) VALUES (13, N'Web hay quá bây ơi', N'0919208873@ffrt', CAST(N'2023-11-26' AS Date))
SET IDENTITY_INSERT [dbo].[PHANHOI] OFF
GO
INSERT [dbo].[PHONGHOC] ([MaPhongHoc], [TrangThai], [MaDayHoc]) VALUES (N'A1-101', N'Đang hoạt động', N'A1')
INSERT [dbo].[PHONGHOC] ([MaPhongHoc], [TrangThai], [MaDayHoc]) VALUES (N'A1-102', N'Đang hoạt động', N'A1')
INSERT [dbo].[PHONGHOC] ([MaPhongHoc], [TrangThai], [MaDayHoc]) VALUES (N'A1-103', N'Đang hoạt động', N'A1')
GO
INSERT [dbo].[QUANLY] ([MaQuanLy], [HoTen], [NgaySinh], [Email], [DienThoai], [ChucVu], [DiaChi], [MatKhau], [AnhQL]) VALUES (N'QL001', N'Lê Thị Thu Trang', NULL, NULL, N'0854215563', N'Quản lý Dãy A', N'Bình Dương', N'1', N'QL001.jpeg')
INSERT [dbo].[QUANLY] ([MaQuanLy], [HoTen], [NgaySinh], [Email], [DienThoai], [ChucVu], [DiaChi], [MatKhau], [AnhQL]) VALUES (N'QL002', N'Trần Tiến Dũng', NULL, NULL, N'0145248876', N'Quản lý Dãy B', N'Bến Tre', N'2', N'QL002.png')
INSERT [dbo].[QUANLY] ([MaQuanLy], [HoTen], [NgaySinh], [Email], [DienThoai], [ChucVu], [DiaChi], [MatKhau], [AnhQL]) VALUES (N'QL003', N'Lê Văn Trí', NULL, NULL, N'0141154457', N'Quản lý Dãy C ', N'TP.HCM', N'3', N'QL003.jpg')
GO
INSERT [dbo].[QUANLY_TRANGTHIETBI] ([MaPhongHoc], [MaTrangThietBi], [TenTTB], [TinhTrang], [SoLuong]) VALUES (N'A1-101', N'BG-VP', N'Bàn ghế văn phòng', N'Tốt', 5)
INSERT [dbo].[QUANLY_TRANGTHIETBI] ([MaPhongHoc], [MaTrangThietBi], [TenTTB], [TinhTrang], [SoLuong]) VALUES (N'A1-101', N'DEN', N'Đèn', N'Tốt', 6)
INSERT [dbo].[QUANLY_TRANGTHIETBI] ([MaPhongHoc], [MaTrangThietBi], [TenTTB], [TinhTrang], [SoLuong]) VALUES (N'A1-101', N'MC', N'Máy chiếu', N'Tốt', 1)
GO
INSERT [dbo].[SINHVIEN] ([MaSinhVien], [HoTen], [Lop], [NgaySinh], [Email], [DienThoai], [ChuyenNganh], [DiaChi]) VALUES (N'2124802010160', N'Nguyễn Trần Hoàng Phúc', N'D21CNTT06', CAST(N'2003-04-15' AS Date), N'2124802010160@student.tdmu.edu.vn', N'0146595265', N'CNTT', N'Bình Dương')
INSERT [dbo].[SINHVIEN] ([MaSinhVien], [HoTen], [Lop], [NgaySinh], [Email], [DienThoai], [ChuyenNganh], [DiaChi]) VALUES (N'2124802010645', N'Đoàn Gia Bảo', N'D21CNTT06', CAST(N'2003-05-11' AS Date), N'2124802010645@student.tdmu.edu.vn', N'0154989568', N'CNTT', N'Bình Phước')
INSERT [dbo].[SINHVIEN] ([MaSinhVien], [HoTen], [Lop], [NgaySinh], [Email], [DienThoai], [ChuyenNganh], [DiaChi]) VALUES (N'2124802010859', N'Phan Ngọc Tùng', N'D21CNTT06', CAST(N'2003-12-24' AS Date), N'2124802010859@student.tdmu.edu.vn', N'0919208873', N'CNTT', N'Lâm Đồng')
GO
SET IDENTITY_INSERT [dbo].[SUCOBAOTRI] ON 

INSERT [dbo].[SUCOBAOTRI] ([MaSuCoBaoTri], [MaPhongHoc], [MoTaSuCo], [ThoiGianBaoCao], [MaSinhVien], [MaGiangVien], [MaQuanLy], [MaTrangThietBi], [TenTrangThietBi], [TinhTrangXuLy], [AnhSuCo]) VALUES (19, N'A2-105', N'Có báo trong trường ', CAST(N'2023-11-21T14:02:00.000' AS DateTime), NULL, N'GV001', N'QL001', N'MC', N'Máy chiếu', N'Đã duyệt', N'22121dd84c289576cc39.jpg')
INSERT [dbo].[SUCOBAOTRI] ([MaSuCoBaoTri], [MaPhongHoc], [MoTaSuCo], [ThoiGianBaoCao], [MaSinhVien], [MaGiangVien], [MaQuanLy], [MaTrangThietBi], [TenTrangThietBi], [TinhTrangXuLy], [AnhSuCo]) VALUES (22, N'A4-101', N'Khủng long tấn công ', CAST(N'2023-11-24T23:52:00.000' AS DateTime), N'2124802010859', NULL, N'QL001', N'BG-GV', N'Bàn ghế giảng viên', N'Đã duyệt', N'cartoon-drawing-godzilla-wallpaper-preview.jpg')
INSERT [dbo].[SUCOBAOTRI] ([MaSuCoBaoTri], [MaPhongHoc], [MoTaSuCo], [ThoiGianBaoCao], [MaSinhVien], [MaGiangVien], [MaQuanLy], [MaTrangThietBi], [TenTrangThietBi], [TinhTrangXuLy], [AnhSuCo]) VALUES (24, N'C-104', N'Có con thỏ bị ngất ', CAST(N'2023-11-26T12:25:00.000' AS DateTime), NULL, N'GV001', N'QL003', N'PC', N'Máy tính bàn', N'Từ chối', N'FB_IMG_1637151615614.jpg')
SET IDENTITY_INSERT [dbo].[SUCOBAOTRI] OFF
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([TaiKhoanID], [MaQuanLy], [MaGiangVien], [MaSinhVien], [MaNhanVien], [TenDangNhap], [MatKhau], [LoaiTaiKhoan], [Avartar]) VALUES (2, N'QL001', NULL, NULL, NULL, N'QL001', N'QL001', N'QL', N'userQL.png')
INSERT [dbo].[TAIKHOAN] ([TaiKhoanID], [MaQuanLy], [MaGiangVien], [MaSinhVien], [MaNhanVien], [TenDangNhap], [MatKhau], [LoaiTaiKhoan], [Avartar]) VALUES (3, NULL, N'GV001', NULL, NULL, N'GV001', N'GV001', N'GV', N'GV01.jpg')
INSERT [dbo].[TAIKHOAN] ([TaiKhoanID], [MaQuanLy], [MaGiangVien], [MaSinhVien], [MaNhanVien], [TenDangNhap], [MatKhau], [LoaiTaiKhoan], [Avartar]) VALUES (4, NULL, NULL, N'2124802010859', NULL, N'2124802010859', N'2124802010859', N'SV', N'SV02.jpg')
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
INSERT [dbo].[THOIKHOABIEU] ([MaLopHoc], [MaPhongHoc], [MaQuanLy], [ThuNgayHoc], [NgayBatDau], [NgayKetThuc], [TietBatDau], [TietKetThuc]) VALUES (N'KTCH-CQ03', N'E1-101', N'QL001', N'2', CAST(N'2023-01-01T07:00:00.000' AS DateTime), CAST(N'2023-03-01T11:30:00.000' AS DateTime), 1, 5)
INSERT [dbo].[THOIKHOABIEU] ([MaLopHoc], [MaPhongHoc], [MaQuanLy], [ThuNgayHoc], [NgayBatDau], [NgayKetThuc], [TietBatDau], [TietKetThuc]) VALUES (N'KTTT-CQ01', N'E1-102', N'QL001', N'2', CAST(N'2023-01-02T07:00:00.000' AS DateTime), CAST(N'2023-03-02T11:30:00.000' AS DateTime), 1, 5)
INSERT [dbo].[THOIKHOABIEU] ([MaLopHoc], [MaPhongHoc], [MaQuanLy], [ThuNgayHoc], [NgayBatDau], [NgayKetThuc], [TietBatDau], [TietKetThuc]) VALUES (N'KTCH-CQ05', N'E1-103', N'QL001', N'3', CAST(N'2023-01-01T12:30:00.000' AS DateTime), CAST(N'2023-03-01T16:30:00.000' AS DateTime), 6, 10)
GO
SET IDENTITY_INSERT [dbo].[THONGKE] ON 

INSERT [dbo].[THONGKE] ([ThongKeID], [MaPhongHoc], [SoLanSuCo], [ThongTinBaoCao], [NgayGioBaoCao], [MaQuanLy]) VALUES (1, N'E1-101', NULL, NULL, NULL, N'QL001')
SET IDENTITY_INSERT [dbo].[THONGKE] OFF
GO
SET IDENTITY_INSERT [dbo].[TINTUC] ON 

INSERT [dbo].[TINTUC] ([MaTT], [TenTT], [AnhTT], [NgayDang], [MoTa], [NoiDung], [MaQuanLy], [SoLuocXem]) VALUES (1, N'Cô Bùi Phạm Phương Thanh được trao Giải thưởng Môi trường tỉnh Bình Dương năm 2023', N'tin1.jpg', CAST(N'2023-10-19' AS Date), N'Sáng ngày 18/10/2023 tại Trung tâm Triển lãm tỉnh, UBND tỉnh Bình Dương đã long trọng tổ chức Lễ trao Giải thưởng Môi trường tỉnh Bình Dương năm...', N'https://tdmu.edu.vn/tin-tuc/tin-tong-hop/co-bui-pham-phuong-thanh-duoc-trao-giai-thuong-moi-truong-tinh-binh-duong-nam-2023', N'QL001', 0)
INSERT [dbo].[TINTUC] ([MaTT], [TenTT], [AnhTT], [NgayDang], [MoTa], [NoiDung], [MaQuanLy], [SoLuocXem]) VALUES (3, N'TDMU sẽ đăng cai hội thảo quốc tế IFGTM lần thứ 14 năm 2024', N'tin3.jpg', CAST(N'2023-10-19' AS Date), N'Ngày 12/10/2023, đoàn công tác trường ĐH Thủ Dầu Một do TS. Ngô Hồng Điệp - Phó hiệu trưởng làm trưởng đoàn đã tham dự Hội thảo IFGTM 2023 - Diễn...', N'https://tdmu.edu.vn/tin-tuc/nghien-cuu-khoa-hoc/tdmu-se-dang-cai-hoi-thao-quoc-te-ifgtm-lan-thu-14-nam-2024', N'QL001', 0)
INSERT [dbo].[TINTUC] ([MaTT], [TenTT], [AnhTT], [NgayDang], [MoTa], [NoiDung], [MaQuanLy], [SoLuocXem]) VALUES (4, N'Sôi nổi chuỗi hoạt động chào đón Tân sinh viên D23', N'tin4.jpg', CAST(N'2023-10-19' AS Date), N'Hòa trong không khí vui tươi chào mừng năm học mới 2023 – 2024, trường ĐH Thủ Dầu Một đã tổ chức chuỗi các hoạt động sôi nổi, thiết thực dành cho...', N'https://tdmu.edu.vn/tin-tuc/cong-doan-doan-tn/soi-noi-chuoi-hoat-dong-chao-don-tan-sinh-vien-d23', N'QL001', 0)
SET IDENTITY_INSERT [dbo].[TINTUC] OFF
GO
INSERT [dbo].[TRANGTHIETBI] ([MaTrangThietBi], [TenTrangThietBi], [SoLuong], [DonViTinh], [GhiChu], [Loai]) VALUES (N'BANG', N'Bảng ', NULL, N'Cái', NULL, N'PH-PM-TH')
INSERT [dbo].[TRANGTHIETBI] ([MaTrangThietBi], [TenTrangThietBi], [SoLuong], [DonViTinh], [GhiChu], [Loai]) VALUES (N'BG-GV', N'Bàn ghế giảng viên', NULL, N'Bộ', N'1 bàn + 1 ghế', N'PH-TH-PM')
INSERT [dbo].[TRANGTHIETBI] ([MaTrangThietBi], [TenTrangThietBi], [SoLuong], [DonViTinh], [GhiChu], [Loai]) VALUES (N'BG-HT', N'Ghế phòng hội trường', NULL, N'Cái', NULL, N'HT')
GO
ALTER TABLE [dbo].[DANGKYMONHOC]  WITH CHECK ADD  CONSTRAINT [FK_DANGKYMONHOC_MONHOC] FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MONHOC] ([MaMonHoc])
GO
ALTER TABLE [dbo].[DANGKYMONHOC] CHECK CONSTRAINT [FK_DANGKYMONHOC_MONHOC]
GO
ALTER TABLE [dbo].[DANGKYMONHOC]  WITH CHECK ADD  CONSTRAINT [FK_DANGKYMONHOC_SINHVIEN1] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SINHVIEN] ([MaSinhVien])
GO
ALTER TABLE [dbo].[DANGKYMONHOC] CHECK CONSTRAINT [FK_DANGKYMONHOC_SINHVIEN1]
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD  CONSTRAINT [FK__DATPHONG__MaPhon__11158940] FOREIGN KEY([MaPhongHoc])
REFERENCES [dbo].[PHONGHOC] ([MaPhongHoc])
GO
ALTER TABLE [dbo].[DATPHONG] CHECK CONSTRAINT [FK__DATPHONG__MaPhon__11158940]
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DATPHONG_GIANGVIEN1] FOREIGN KEY([MaGiangVien])
REFERENCES [dbo].[GIANGVIEN] ([MaGiangVien])
GO
ALTER TABLE [dbo].[DATPHONG] CHECK CONSTRAINT [FK_DATPHONG_GIANGVIEN1]
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DATPHONG_QUANLY1] FOREIGN KEY([MaQuanLy])
REFERENCES [dbo].[QUANLY] ([MaQuanLy])
GO
ALTER TABLE [dbo].[DATPHONG] CHECK CONSTRAINT [FK_DATPHONG_QUANLY1]
GO
ALTER TABLE [dbo].[DATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_DATPHONG_SINHVIEN1] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SINHVIEN] ([MaSinhVien])
GO
ALTER TABLE [dbo].[DATPHONG] CHECK CONSTRAINT [FK_DATPHONG_SINHVIEN1]
GO
ALTER TABLE [dbo].[DAYHOC]  WITH CHECK ADD  CONSTRAINT [FK_DayHoc_QuanLy] FOREIGN KEY([MaQuanLy])
REFERENCES [dbo].[QUANLY] ([MaQuanLy])
GO
ALTER TABLE [dbo].[DAYHOC] CHECK CONSTRAINT [FK_DayHoc_QuanLy]
GO
ALTER TABLE [dbo].[LOPHOC]  WITH CHECK ADD  CONSTRAINT [FK_LOPHOC_GIANGVIEN] FOREIGN KEY([MaGiangVien])
REFERENCES [dbo].[GIANGVIEN] ([MaGiangVien])
GO
ALTER TABLE [dbo].[LOPHOC] CHECK CONSTRAINT [FK_LOPHOC_GIANGVIEN]
GO
ALTER TABLE [dbo].[LOPHOC]  WITH CHECK ADD  CONSTRAINT [FK_LOPHOC_MONHOC] FOREIGN KEY([MaMonHoc])
REFERENCES [dbo].[MONHOC] ([MaMonHoc])
GO
ALTER TABLE [dbo].[LOPHOC] CHECK CONSTRAINT [FK_LOPHOC_MONHOC]
GO
ALTER TABLE [dbo].[PHANCONGXULY_SUCO]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONGXULY_SUCO_BOPHANXULYSUCO1] FOREIGN KEY([MaNguoiXuLy])
REFERENCES [dbo].[BOPHANXULYSUCO] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PHANCONGXULY_SUCO] CHECK CONSTRAINT [FK_PHANCONGXULY_SUCO_BOPHANXULYSUCO1]
GO
ALTER TABLE [dbo].[PHANCONGXULY_SUCO]  WITH CHECK ADD  CONSTRAINT [FK_PHANCONGXULY_SUCO_SUCOBAOTRI] FOREIGN KEY([MaSuCoBaoTri], [MaPhongHoc], [MaQuanLy])
REFERENCES [dbo].[SUCOBAOTRI] ([MaSuCoBaoTri], [MaPhongHoc], [MaQuanLy])
GO
ALTER TABLE [dbo].[PHANCONGXULY_SUCO] CHECK CONSTRAINT [FK_PHANCONGXULY_SUCO_SUCOBAOTRI]
GO
ALTER TABLE [dbo].[PHONGHOC]  WITH CHECK ADD  CONSTRAINT [FK_PhongHoc_DayHoc] FOREIGN KEY([MaDayHoc])
REFERENCES [dbo].[DAYHOC] ([MaDayHoc])
GO
ALTER TABLE [dbo].[PHONGHOC] CHECK CONSTRAINT [FK_PhongHoc_DayHoc]
GO
ALTER TABLE [dbo].[QUANLY_TRANGTHIETBI]  WITH CHECK ADD  CONSTRAINT [FK__PHONGHOC___MaPho__7EF6D905] FOREIGN KEY([MaPhongHoc])
REFERENCES [dbo].[PHONGHOC] ([MaPhongHoc])
GO
ALTER TABLE [dbo].[QUANLY_TRANGTHIETBI] CHECK CONSTRAINT [FK__PHONGHOC___MaPho__7EF6D905]
GO
ALTER TABLE [dbo].[QUANLY_TRANGTHIETBI]  WITH CHECK ADD  CONSTRAINT [FK__PHONGHOC___MaTra__7FEAFD3E] FOREIGN KEY([MaTrangThietBi])
REFERENCES [dbo].[TRANGTHIETBI] ([MaTrangThietBi])
GO
ALTER TABLE [dbo].[QUANLY_TRANGTHIETBI] CHECK CONSTRAINT [FK__PHONGHOC___MaTra__7FEAFD3E]
GO
ALTER TABLE [dbo].[SUCOBAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_SUCOBAOTRI_GIANGVIEN] FOREIGN KEY([MaGiangVien])
REFERENCES [dbo].[GIANGVIEN] ([MaGiangVien])
GO
ALTER TABLE [dbo].[SUCOBAOTRI] CHECK CONSTRAINT [FK_SUCOBAOTRI_GIANGVIEN]
GO
ALTER TABLE [dbo].[SUCOBAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_SUCOBAOTRI_QUANLY] FOREIGN KEY([MaQuanLy])
REFERENCES [dbo].[QUANLY] ([MaQuanLy])
GO
ALTER TABLE [dbo].[SUCOBAOTRI] CHECK CONSTRAINT [FK_SUCOBAOTRI_QUANLY]
GO
ALTER TABLE [dbo].[SUCOBAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_SUCOBAOTRI_QUANLY_TRANGTHIETBI] FOREIGN KEY([MaPhongHoc], [MaTrangThietBi])
REFERENCES [dbo].[QUANLY_TRANGTHIETBI] ([MaPhongHoc], [MaTrangThietBi])
GO
ALTER TABLE [dbo].[SUCOBAOTRI] CHECK CONSTRAINT [FK_SUCOBAOTRI_QUANLY_TRANGTHIETBI]
GO
ALTER TABLE [dbo].[SUCOBAOTRI]  WITH CHECK ADD  CONSTRAINT [FK_SUCOBAOTRI_SINHVIEN] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SINHVIEN] ([MaSinhVien])
GO
ALTER TABLE [dbo].[SUCOBAOTRI] CHECK CONSTRAINT [FK_SUCOBAOTRI_SINHVIEN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_BOPHANXULYSUCO1] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[BOPHANXULYSUCO] ([MaNhanVien])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_BOPHANXULYSUCO1]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_GIANGVIEN1] FOREIGN KEY([MaGiangVien])
REFERENCES [dbo].[GIANGVIEN] ([MaGiangVien])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_GIANGVIEN1]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_QUANLY1] FOREIGN KEY([MaQuanLy])
REFERENCES [dbo].[QUANLY] ([MaQuanLy])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_QUANLY1]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_SINHVIEN1] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SINHVIEN] ([MaSinhVien])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_SINHVIEN1]
GO
ALTER TABLE [dbo].[THOIKHOABIEU]  WITH CHECK ADD  CONSTRAINT [FK__THOIKHOAB__MaPho__32767D0B] FOREIGN KEY([MaPhongHoc])
REFERENCES [dbo].[PHONGHOC] ([MaPhongHoc])
GO
ALTER TABLE [dbo].[THOIKHOABIEU] CHECK CONSTRAINT [FK__THOIKHOAB__MaPho__32767D0B]
GO
ALTER TABLE [dbo].[THOIKHOABIEU]  WITH CHECK ADD  CONSTRAINT [FK_THOIKHOABIEU_LOPHOC] FOREIGN KEY([MaLopHoc])
REFERENCES [dbo].[LOPHOC] ([MaLopHoc])
GO
ALTER TABLE [dbo].[THOIKHOABIEU] CHECK CONSTRAINT [FK_THOIKHOABIEU_LOPHOC]
GO
ALTER TABLE [dbo].[THOIKHOABIEU]  WITH CHECK ADD  CONSTRAINT [FK_THOIKHOABIEU_QUANLY] FOREIGN KEY([MaQuanLy])
REFERENCES [dbo].[QUANLY] ([MaQuanLy])
GO
ALTER TABLE [dbo].[THOIKHOABIEU] CHECK CONSTRAINT [FK_THOIKHOABIEU_QUANLY]
GO
ALTER TABLE [dbo].[THONGKE]  WITH CHECK ADD  CONSTRAINT [FK__THONGKE__MaPhong__1A9EF37A] FOREIGN KEY([MaPhongHoc])
REFERENCES [dbo].[PHONGHOC] ([MaPhongHoc])
GO
ALTER TABLE [dbo].[THONGKE] CHECK CONSTRAINT [FK__THONGKE__MaPhong__1A9EF37A]
GO
ALTER TABLE [dbo].[THONGKE]  WITH CHECK ADD  CONSTRAINT [FK_THONGKE_QUANLY] FOREIGN KEY([MaQuanLy])
REFERENCES [dbo].[QUANLY] ([MaQuanLy])
GO
ALTER TABLE [dbo].[THONGKE] CHECK CONSTRAINT [FK_THONGKE_QUANLY]
GO
ALTER TABLE [dbo].[TINTUC]  WITH CHECK ADD  CONSTRAINT [FK_TINTUC_QUANLY] FOREIGN KEY([MaQuanLy])
REFERENCES [dbo].[QUANLY] ([MaQuanLy])
GO
ALTER TABLE [dbo].[TINTUC] CHECK CONSTRAINT [FK_TINTUC_QUANLY]
GO
