<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 " data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="~/img/about.png">
                </div>
            </div>
            <div class="col-lg-6" data-wow-delay="0.5s">
                <h2 class="mb-4">TDMU - Thu Dau Mot University</h2>
                <p class="mb-4">TDMU luôn là nơi tốt nhất để học tập. Với hơn 47 năm kinh nghiệm trong lĩnh vực giáo dục, chúng tôi cam kết cung cấp chất lượng và đáng tin cậy. Chúng tôi luôn dẫn đầu trong lĩnh vực đào tạo đa ngành và đa lĩnh vực, đồng thời thúc đẩy sự phát triển kinh tế - xã hội và hội nhập quốc tế của tỉnh Bình Dương.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Chất lượng đào tạo hàng đầu</p>
                <p><i class="fa fa-check text-primary me-3"></i>Cam kết với phát triển cộng đồng</p>
                <p><i class="fa fa-check text-primary me-3"></i>Luôn dẫn đầu và đổi mới</p>
                <p><i class="fa fa-check text-primary me-3"></i>KHÁT VỌNG – TRÁCH NHIỆM – SÁNG TẠO</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="https://tdmu.edu.vn/Gioi-thieu">Xem Thêm</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
