<style>
    .navbar-light .navbar-nav .nav-link {
        padding: 10px;
    }
</style>
<!-- Navbar Start -->
<div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-1.2 px-4">
        <a href="~/TDMUCLASS/index" class="navbar-brand d-flex align-items-center text-center">
            <img class="img-fluid" src="~/img/logo-nav .png" alt="Icon" style="width: 350px; height: 80px;">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a href="~/TDMUCLASS/index" class="nav-item nav-link active">Trang chủ</a>
                <a href="about.html" class="nav-item nav-link">ĐẶT PHÒNG</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">BÁO CÁO SỰ CỐ</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="property-list.html" class="dropdown-item">Property List</a>
                        <a href="property-type.html" class="dropdown-item">Property Type</a>
                        <a href="property-agent.html" class="dropdown-item">Property Agent</a>
                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">Thời khóa biểu</a>
                <a href="~/Account/Login" class="btn btn-primary px-3">Login <i class="fa-solid fa-right-to-bracket fa-lg" style="margin:5px 0px 0px 10px;"></i></a>

            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->
