
<style>
    .navbar-light .navbar-nav .nav-link {
        padding: 10px;
    }
</style>

@{
    string tenHocVienOrGiangVien = Session["tenHocVienOrGiangVien"] as string;
    string maHocVienOrGiangVien = Session["maSinhVienOrGiangVien"] as string;
    string avatarPath = Session["AvatarPath"] as string;
}
<!-- Navbar Start -->
<div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-1.2 px-4">
        <a href="~/Account/Home" onclick="tailaitrang" class="navbar-brand d-flex align-items-center text-center">
            <img class="img-fluid" src="~/img/logo-nav .png" alt="Icon" style="width: 350px; height: 80px;">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a href="~/Account/Home" onclick="tailaitrang" class="nav-item nav-link active">Trang chủ</a>
                <a href="~/Account/DatPhong" class="nav-item nav-link">ĐẶT PHÒNG</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">BÁO CÁO SỰ CỐ</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="property-list.html" class="dropdown-item">Phòng học</a>
                        <a href="property-type.html" class="dropdown-item">Trang thiết bị</a>
                        <a href="property-agent.html" class="dropdown-item">Hệ thống</a>
                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">Lịch giảng dạy</a>
                <a href="@Url.Action("Logout", "Account")" class="btn btn-primary px-3">
                    Đăng xuất <i class="fa-solid fa-right-from-bracket" style="margin:5px 0px 0px 10px;"></i>
                </a>
            </div>
            <a href="#" class="d-none d-lg-flex"><img src="~/img/@avatarPath" style="margin-left:5px; width: 50px; border-radius: 50%;"  title="Xin chào: @tenHocVienOrGiangVien"></a>
        </div>
    </nav>
</div>
<!-- Navbar End -->
<script>
    function tailaitrang() {
        location.reload();
    }
</script>