<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tdmuclass-001-site1.atempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8036.site4now.net:8172/msdeploy.axd?site=tdmuclass-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>tdmuclass-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>tdmuclass-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="TDMUCLASSConnectionString21" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=TDMUCLASS;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TDMUCLASSConnectionString21_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=TDMUCLASS;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TDMUCLASSConnectionString1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=TDMUCLASS;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TDMUCLASSConnectionString1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=TDMUCLASS;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TDMUCLASSConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=SQL8006.site4now.net;Initial Catalog=db_aa22c6_tdmuclass;User ID=db_aa22c6_tdmuclass_admin;Password=tdmuclass123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=TDMUCLASS;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TDMUCLASSConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-SD6JFUCG\MSSQLSERVER01;Initial Catalog=TDMUCLASS;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TDMUCLASSConnectionString1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TDMUCLASSConnectionString21-Web.config Connection String" />
    <MSDeployParameterValue Include="TDMUCLASSConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=SQL8006.site4now.net;Initial Catalog=db_aa22c6_tdmuclass;User ID=db_aa22c6_tdmuclass_admin;Password=tdmuclass123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>